
bayesian/.ipynb_checkpoints/MontyHall-checkpoint.ipynb
ipcv/.ipynb_checkpoints/doc_analysis_1-checkpoint.ipynb
bayesian/.ipynb_checkpoints/EuroCoin+betaDistribtion-checkpoint.ipynb
bayesian/.ipynb_checkpoints/showcases.2011-checkpoint.csv
bayesian/.ipynb_checkpoints/6.Decision Analysis-checkpoint.ipynb
igcg/.ipynb_checkpoints/opengl-cube-checkpoint.ipynb
igcg/opengl-cube.py
